.ui.grid {
    background: #a2d2ff;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    background: #c5f4f8;
}

.ui.center.aligned.header, .ui.centered.header {
    color: #4f51cc;
}

